html {
	height: 100%;
}

.body {
	padding-top: 60px;
}

.nav-side {
	height: 100%;
}

.nav-side button {
	width: 100%;
}

.block {
	text-align: center;
	width: 30%;
	background: grey;
	padding-bottom: 20%;
	float: left;
	margin: 1.66%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

.offers img {
	width: 50px;
	height: 50px;
}

.orders img {
	width: 40px;
	height: 40px;
}

.orders table {
	background-color: lightgrey;
	padding-bottom: 3px;
}

.order-list {
	padding-bottom: 5px;
}

.list-inline li {
	display: inline-block;
}