<!DOCTYPE html>
<html lang="en" ng-app="admin">
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <script src="js/route.js"></script>
    <script src="js/offers.js"></script>
    <script src="js/offerModal.js"></script>
</head>
<body ng-controller="mainController">

	<nav class="navbar navbar-default navbar-fixed-top">
	 	<div class="container">
	 		<div class="navbar-header">
		 		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		        </button>
		    </div>
		    <div class="collapse navbar-collapse">
		    	<ul class="nav navbar-nav">
			        <li class="active"><a href="#">Logo</a></li>
		        </ul>
		        <ul class="nav navbar-nav navbar-right">
			        <li><a href="#" ng-click="isCollapsed = true">Dashboard</a></li>
			        <li><a href="#" ng-click="isCollapsed = false" ui-sref="orders">Orders</a></li>
			        <li><a href="#" ng-click="isCollapsed = false" ui-sref="offers">Offers</a></li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			          </ul>
			        </li>
		        </ul>
    		</div>
    	</div>
	</nav>

	<div class="container body">
		<div uib-collapse="isCollapsed">
			<div class="col-lg-3 nav-side">
				<table class="table">
					<h4>Categories</h4>
					<tr><td><button class="btn">Main Course</button></li></td></tr>
					<tr><td><button class="btn">Breakfast</button></li></td></tr>
					<tr><td><button class="btn">Rice Meal</button></li></td></tr>
					<tr><td><button class="btn" ng-click="newCategorie = !newCategorie">Add Categorie</button></li></td></tr>
				</table>
				<div uib-collapse="newCategorie">
					<div class="input-group">
						<input class="form-control" placeholder="new Categorie"></input>
						<span class="input-group-btn">
					    	<button class="btn btn-default" type="button"><i class="fa fa-plus-circle"></i></button>
					    </span>
				    </div>
				</div>
			</div>
		</div>
		<div class="col-lg-9">

			<section ui-view></section>

		</div>
	</div>

</body>
</html>