<div class="offers col-lg-12">
	<ul class="list-inline">
		<li><h4>Offers</h4></li>
		<li><i ng-controller="newOfferModal" class="fa fa-2x fa-plus-circle" aria-hidden="true" ng-click="open()"></i></li>
	</ul>
	<table class="table">
		<tr>
			<td>#</td>
			<td>Name</td>
			<td>Price</td>
			<td>Action</td>
		</tr>
		<tr>
			<td>1</td>
			<td><img ng-src="../img/beef_siomai.jpg"></td>
			<td>Price</td>
			<td>
				<ul class="list-inline">
					<li><i class="fa fa-2x fa-trash"></i></li>
					<li><i class="fa fa-2x fa-pencil"></i></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>2</td>
			<td><img ng-src="../img/lumpia_rice.jpg"></td>
			<td>Price</td>
			<td>
				<ul class="list-inline">
					<li><i class="fa fa-2x fa-trash"></i></li>
					<li><i class="fa fa-2x fa-pencil"></i></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>3</td>
			<td><img ng-src="../img/yang_chowfan.jpg"></td>
			<td>Price</td>
			<td>
				<ul class="list-inline">
					<li><i class="fa fa-2x fa-trash"></i></li>
					<li><i class="fa fa-2x fa-pencil"></i></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>4</td>
			<td><img ng-src="../img/chinese_pork.jpg"></td>
			<td>Price</td>
			<td>
				<ul class="list-inline">
					<li><i class="fa fa-2x fa-trash"></i></li>
					<li><i class="fa fa-2x fa-pencil"></i></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>5</td>
			<td><img ng-src="../img/solo_pork_chaofan.jpg"></td>
			<td>Price</td>
			<td>
				<ul class="list-inline">
					<li><i class="fa fa-2x fa-trash"></i></li>
					<li><i class="fa fa-2x fa-pencil"></i></li>
				</ul>
			</td>
		</tr>
	</table>
</div>

<!-- New Offer Modal -->
<div ng-controller="newOfferModal">
    <script type="text/ng-template" id="newOffer.html">
        <div class="modal-header">
            <h3 class="modal-title">New Offer</h3>
        </div>
        <div class="modal-body">
            <table class="table">
                <tr>
                    <td>
                        <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" ng-model="offer.name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" placeholder="Description" aria-describedby="basic-addon1" ng-model="offer.desc">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="form-control" placeholder="Price" aria-describedby="basic-addon1" ng-podel="offer.price">
                    </td>
                </tr>
                <tr>
                	<td>
                		<form>
                			<select class="form-control" ng-model="offer.categorie">
                                <option value="" select>Select Categorie</option>
                                <option value="rating">Main Dish</option>
                                <option value="deliveryFee">Side Dish</option>
                            </select>
                		</form>
                	</td>
                </tr>
                <tr>
                	<td>
                		<i class="fa fa-3x fa-file-image-o"></i>
                	</td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
	        <button class="btn btn-primary" type="submit" ng-click="">Cancel</button>
            <button class="btn btn-primary" type="submit" ng-click="ok()">Add Offer</button>
        </div>
    </script>
</div>
