<div class="orders col-lg-12">
	<table class="table">
		<h4>Pending Orders</h4>
		<tr>
			<td>
				<table class="table order-list">
					<tr>
						<td colspan="3">
							<h5>Name: Adrew De la Cruz</h5>
							<h5>Email: adrew@gamil.com</h5>
							<h5>Phone #: 090214151</h5>	
						</td>
						<td colspan="2" class="text-right">
							<h3>Total Bill: 450.75</h3>
							<h5>Address: Block 123 Str 45 Villa</h5>
							<h5>Payment Type A - Credit Card</h5>
							<h5>Delivery Type A - On Address</h5>
						</td>
					</tr>
					<tr>
						<td colspan="5"><h5>Order list</h5></td>
					</tr>
					<tr>
						<td>#</td>
						<td>Name</td>
						<td>Price</td>
						<td>QTY</td>
						<td>Total Price</td>
					</tr>
					<tr>
						<td>1</td>
						<td><img ng-src="../img/lumpia_rice.jpg"></td>
						<td>55.00</td>
						<td>2</td>
						<td>110.00</td>
					</tr>
					<tr>
						<td>2</td>
						<td><img ng-src="../img/lumpia_rice.jpg"></td>
						<td>70.00</td>
						<td>2</td>
						<td>140.00</td>
					</tr>
					<tr>
						<td colspan="5"><i class="fa fa-2x fa-check">Accept Order</i><i class="fa fa-2x fa-times">Delete Order</i></td>
					</tr>
				</table>

				<table class="table order-list">
					<tr>
						<td colspan="3">
							<h5>Name: Adrew De la Cruz</h5>
							<h5>Email: adrew@gamil.com</h5>
							<h5>Phone #: 090214151</h5>	
						</td>
						<td colspan="2" class="text-right">
							<h5>Total Bill: 450.75</h5>
							<h5>Address: Block 123 Str 45 Villa</h5>
						</td>
					</tr>
					<tr>
						<td><h5>Order list</h5></td>
					</tr>
					<tr>
						<td>#</td>
						<td>Name</td>
						<td>Price</td>
						<td>QTY</td>
						<td>Total Price</td>
					</tr>
					<tr>
						<td>1</td>
						<td><img ng-src="../img/lumpia_rice.jpg"></td>
						<td>55.00</td>
						<td>2</td>
						<td>110.00</td>
					</tr>
					<tr>
						<td>2</td>
						<td><img ng-src="../img/lumpia_rice.jpg"></td>
						<td>70.00</td>
						<td>2</td>
						<td>140.00</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>